/* Global styles */
*{
    background-color: hsl(41, 100%, 96%);
    font-family: 'Lato', sans-serif;
    color: black;
}

/* Class styles */

.button{
    background-color: green;
}

.button:hover{
    background-color: lightgreen;
}

fieldset.textbox{
    size:auto;
}

.title{
    font-size: 1.5em;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

/* Element type styles*/
h1{
    color: red;
    font-size: 1.5em;
}
h2{
    color: #000099;
    font-size: 1.3em;
}
h3{
    color: rgb(0, 96, 32);
    font-size: 1.1em;
}
section ul{
    color: darkgray;
}

body > hr{
    width: auto;
    color: navy;
}

/* Individual ID styles */
#soulessdemo{
    color: tan;
}

#grid{
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    row-gap: 2px;
}

#videosection{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

