/* Global styles */
*{
    background-color: hsl(41, 100%, 96%);
    font-family: 'Lato', sans-serif;
    color: black;
}

@media (min-width: 750px) {
    #narrow {
      display: none;
    }
  }

/* Class styles */

.button{
    background-color: green;
}

.button:hover{
    background-color: lightgreen;
    text-decoration:  underline dotted black;
}

fieldset.textbox{
    size:auto;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
}

/* Element type styles*/
h1{
    color: darkred;
    font-size: 1.45em;
}
h2{
    color: #000099;
    font-size: 1.3em;
}
h3{
    color: rgb(0, 96, 32);
    font-size: 1.1em;
}
h1,h2,h3{
    padding: 5px 5px 0px 10px;
}
section ul{
    color: darkgray;
    margin:auto;
}

body > hr{
    width: auto;
    color: navy;
}

fieldset label,fieldset~p{
    margin-top: 5px;
}



/* Individual ID styles */
#soulessdemo{
    color: tan;
}

#grid{
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    row-gap: 2px;
}

#videosection{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

#title{
    font-size: 1.5em;
    top: 0px;
    padding-top: 5px;
    border-style: double;
    border-color: darkred;
    border-width: 2mm;
    border-radius: 10Q;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

#footer{
    margin-top: 5px;
}

